@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0; margin: 0; outline: none; box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;  
}
:root{
    --gray: #f0f1f1;
    --dark-black: #525659;
    --brown: #666666;
    --blue: #1c74b0;
    --navy-blue: #1d2744;
    --sky: #42b7e6;
    --red: #ee2f24;
    --dark-gray: #ecedec;
}
body{
    background-color: var(--dark-black);
}
.sales_force{
    max-width: 768px;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    min-height: 100vh;
}
.sales_force .notification_bar{
    background-color: var(--brown);
    padding: 20px 35px;
    color:  white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sales_force .notification_bar p{
    margin-bottom: 0;
    flex-grow: 1;
    font-size: 1.1rem;
}
.information_bar{
    background-color: var(--gray);
    text-align: center;
}
.information_bar p{
    max-width: 470px;
    margin: auto;
}
p.information_bar a{
    color: inherit;
}
.logo_image .logo{
    max-width: 70px;
}
.logo_cover{
    max-width: 250px;
}
.logo_text{
    text-align: right;
    margin-right: 8px;
    font-size: 1.5rem;
    font-weight: 600;
}
.header{
    padding: 25px 50px;
}
.message_section , .information_bar , .schedule_time , .footer{
    padding: 25px 50px;
}
.cta{
    border-radius: 40px;
    padding: 25px 40px;
    text-decoration: none;
    font-size: 1.4rem;
}
.banner{
    background: linear-gradient(rgba(0, 0, 0, 0.548) , rgba(0, 0, 0, 0.548)) , url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    aspect-ratio: 16/9;
    padding: 50px 70px;
}
.banner_logo{
    max-width: 250px;
    width: 100%;
}
.message_section h2{
    color: var(--navy-blue);
    font-size: 3.2rem;
    font-weight: 900;
    margin-bottom: 30px;
}
.message_section h2 span{
    color: var(--red);
}
.letter p{
    font-size: 1.3rem;
}
.letter h4{
    color: var(--navy-blue);
    font-weight: 800;
    margin-top: 30px;
}
.list{
    padding: 0 50px;
}
.lists .list{
    position: relative;
}
.lists .list::before{
    content: "";
    height: 100%;
    width: 25px;
    position: absolute;
    top: 0; left: 0;
}
.lists .list:first-child::before{
    background-color: var(--blue);
}
.lists .list:nth-child(2)::before{
    background-color: var(--navy-blue);
}
.lists .list:last-child::before{
    background-color: var(--sky);
}
.lists .list:first-child h3{
    color: var(--blue);
}
.lists .list:nth-child(2) h3{
    color: var(--navy-blue);
}
.lists .list:nth-child(3) h3{
    color: var(--sky);
}
.lists .list h3 span{
    color: var(--navy-blue);
}
.lists .list h3{
    font-size: 1.6rem;
    font-weight: 700;
}
.lists .list p{
    font-size: 1.2rem;
}
.lists ul{
    width: 50%;
    padding-left: 18px;
}


.download{
    background-color: var(--dark-gray);
    padding: 50px;
}
.download .image{
    max-width: 200px;
    width: 100%;
}
.download h3{
    font-size: 1.6rem;
    color: var(--blue);
    font-weight: 800;
}
.download p{
    font-size: 1.2rem;
}
.cta_primary{
    background-color: var(--blue);
    color: white;
}
.cta_secondary{
    border: 1px solid var(--navy-blue);
    color: var(--navy-blue);
    padding: 20px 40px;
}
.schedule_time p{
    font-size: 1.3rem;
}
.schedule_time{
    background-color: var(--navy-blue);
    color: white;
}
.schedule_time .icon{
    font-size: 70px;
}
.schedule_time a{
    color: inherit;
}
footer.footer{
    background-color: var(--dark-gray);
}
.footer .detail img{
    max-width: 130px;
}
.footer .detail table td{
    font-weight: 600;
}
.footer h6{
    font-weight: 700;
}
.footer p , .footer a{
    text-align: start;
    font-size: 0.9rem;
}